$primary: #0043ff;
$dark: #222d35;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Rajdhani', sans-serif;
$input-btn-font-size: 14px;
$input-btn-font-size-lg: 16px;
$input-btn-padding-y-lg: 0.8rem;
$input-btn-padding-x-lg: 1.2rem;
